.container {
	.flex-wrap(wrap);
	.display-flex;
}

.inline-img {
	.flex(0 0 50%);
	@media @mobile {
		.flex(0 0 100%);
	}
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: 0em;
}

img {
	width: 100%;
}

.headline {
	font-family: Pierpont-Bold, serif;
	padding: 0px;
	margin-bottom: .5em;
}

.article-byline {
	font-size: 14px;
	padding: 0px;
	margin-bottom: .5em;
}

.blurb {
	font-family: Georgia, serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding: 0px;
}