<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>
  <div class="container">
    <% json.Sheet1.forEach(function(d,idx){ %>
    <div class="inline-img">
      <img src="<%=d.Image%>"></img>
      <div class="inline-description">
        <p class="headline">
          <%=d.Headline%>
        </p>
        <p class="article-byline">
          By <%=d.Author%>
        </p>
        <p class="blurb">
          <%=d.Deck%>
        </p>
        <a href="www.google.com" class="continue"> Continue Reading</a>
      </div>
    </div>

    <%  console.log(d); %>
    <% }); %>
  </div>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
